monotonic
netifaces
webdrivermanager
cryptography==36.0.0
robotframework
robotframework-sshlibrary
selenium<=4
robotframework-seleniumlibrary
requests==2.27.1
robotframework-jsonlibrary
Appium-Python-Client
robotframework-appiumlibrary
robotframework-databaselibrary
robotframework-requests==0.9.3
jsonpath
python-dateutil
PyMySQL
mongo-connector
pymongo
jsonschema
robotframework-mongodblibrary
robotframework-faker
robotframework-react
pyyaml
cassandra-driver
fnvhash
robotframework-redislibrary==1.2.4
robotframework-notifications
openpyxl
chardet==4.0.0
urllib3==1.26.9
robotframework-testrail
robotframework-testrail-reporter
robotframework-datadriver
robotframework-jira
robotframework-pabot
PyVirtualDisplay