monotonic
netifaces
pyvirtualdisplay
webdrivermanager
cryptography==36.0.0
robotframework
robotframework-sshlibrary
robotframework-seleniumlibrary
requests
robotframework-jsonlibrary
robotframework-appiumlibrary
robotframework-databaselibrary
robotframework-requests
jsonpath
python-dateutil
PyMySQL
mongo-connector
pymongo
jsonschema
robotframework-mongodblibrary
robotframework-faker
robotframework-react
pyyaml
cassandra-driver
fnvhash
selenium
Appium-Python-Client
Appium-Flutter-Finder
robotframework-redislibrary==1.2.3
robotframework-notifications
openpyxl
redis
redis-py-cluster
chardet
urllib3
robotframework-testrail
robotframework-testrail-reporter
robotframework-datadriver
robotframework-jira
robotframework-pabot